

input.ng-touched.ng-invalid-required {
	border-color: red;
}

.editButton {
	position: absolute;
	top: 0;
	right: 0;
}

.removeButton {
	position: absolute;
	top: 0;
	right: 50px;
}

.form-group {
	position: relative;
}

.tabbable li {
	cursor: pointer;
}

html, body {
	height: 100%;
}

.veil {
	height: 100%;
	background: rgba(47, 47, 47, 0.5);
	position: absolute;
	width: 100%;
	z-index: 10000000;
	transition: all 0.5s ease;
}

svg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	width: 80px;
	height: 80px;
}

svg path {
	fill: blue;
}

.selected td, .selected th {
	background: rgba(24, 188, 156, 0.4);
	color: #fff;
}

.alertCustom {
	padding: 5px 10px;
}

.formLink {
	color: #fff;
}

.formLink:hover {
	color: black;
}

.noHoverButton:hover {
	margin-top: 5px;
	border-bottom-width: 4px;
	background: #5fc1e8;
}

.previewTxt {
	background: #ff4136;
	padding: 4px 8px;
	border-radius: 4px;
	color: #fff;
}













